<% content_for :title, "Oncase | Experts em Big Data, Analytics e Inteligência artificial" %>

<% if user_signed_in? and notice %>
  <div class="alert alert-success mb-0">
    <div class="container">
      <span>Tudo certo!</span> <%= notice %>

      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
<% end %>

<div class="about-us">
  <div class="content container">
    <div class="title">
      SOBRE NÓS
    </div>

    <!-- first section -->
    <div class="d-flex first-section">
      <div class="text-content">
        <%= markdown(@texto_1.content) %>

        <% if user_signed_in? %>
          <%= link_to 'editar texto',
              edit_admin_page_text_content_path(@about_us, @texto_1),
              class: 'btn btn-sm btn-outline-info',
              remote: true %>
        <% end %>
      </div>

      <div class="video">
        <iframe width="500px" height="350px" src="<%= @video.href %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        
        <% if user_signed_in? %>
          <%= link_to 'editar video',
              edit_admin_page_link_content_path(@about_us, @video),
              class: 'btn btn-sm btn-outline-info',
              remote: true %>
        <% end %>
      </div>
    </div>

    <!-- second section -->
    <div class="d-flex second-section" id="our-history">
      <div class="image-content">
        <%= cl_image_tag "#{@imagem_2.image.path}",
            style: "width: auto;
                    height: #{@imagem_2.height}px;
                    margin-left: #{@imagem_2.margin_left}em;
                    margin-right: #{@imagem_2.margin_right}em;", title: "#{@imagem_2.title}"%>

          <% if user_signed_in? %>
            <div class="text-center pt-4">
              <%= link_to 'editar imagem',
                  edit_admin_page_image_content_path(@about_us, @imagem_2),
                  class: 'btn btn-sm btn-outline-info',
                  remote: true %>
            </div>
          <% end %>
      </div>

      <div class="text-content">
        <%= markdown(@texto_2.content) %>

        <% if user_signed_in? %>
          <%= link_to 'editar texto',
              edit_admin_page_text_content_path(@about_us, @texto_2),
              class: 'btn btn-sm btn-outline-info',
              remote: true %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- a company -->
  <div class="company text-center pt-4 mb-4">
    <h1 class="title m-0">Uma empresa:</h1>

    <div class="d-flex justify-content-center pt-5 mt-2 pb-2">
      <%= image_tag 'novo/about-us/criatec.png', class: 'company-image' %>
      <break></break>
      <%= image_tag 'novo/about-us/porto-digital.png', class: 'company-image' %>
      <break></break>
      <%= image_tag 'novo/about-us/manguez-al.png', class: 'company-image' %>
    </div>
  </div>

  <!-- partners -->
  <%= image_tag 'bg-tech@2x.png', width: '100%' %>

  <div class="partners text-center">
    <h1 class="title m-0">Parceiros Oficiais</h1>

    <div class="d-flex justify-content-center pt-4 pb-2">
      <%= image_tag 'tecnologias/pentaho.png', class: 'partner-image' %>
      <break></break>
      <%= image_tag 'tecnologias/cloudera.png', class: 'partner-image' %>
      <break></break>
      <%= image_tag 'tecnologias/mongodb.png', class: 'partner-image' %>
    </div>
  </div>

  <%= image_tag 'bg-cta.png', width: '100%', style: 'margin-top: -1px;' %>

  <!-- our team -->
  <div class="content container" id="our-team">
    <div class="d-flex our-team">
      <div class="image-content">
        <%= cl_image_tag "#{@imagem_3.image.path}",
            style: "width: auto;
                    height: #{@imagem_3.height}px;
                    margin-left: #{@imagem_3.margin_left}em;
                    margin-right: #{@imagem_3.margin_right}em;", title: "#{@imagem_3.title}"%>

          <% if user_signed_in? %>
            <div class="text-center pt-4">
              <%= link_to 'editar imagem',
                  edit_admin_page_image_content_path(@about_us, @imagem_3),
                  class: 'btn btn-sm btn-outline-info',
                  remote: true %>
            </div>
          <% end %>
      </div>

      <div class="text-content">
        <%= markdown(@texto_3.content) %>

        <% if user_signed_in? %>
          <%= link_to 'editar texto',
              edit_admin_page_text_content_path(@about_us, @texto_3),
              class: 'btn btn-sm btn-outline-info',
              remote: true %>
        <% end %>

        <div class="d-flex gptw pt-4">
          <%= image_tag 'selo-gptw.png', height: '130px' %>
          <break></break>
          <div class="align-self-center job-button">
            <%= link_to @link.name, @link.href, class: 'btn btn-outline-orange' %>
          </div>
        </div>

        <% if user_signed_in? %>
          <%= link_to 'editar link',
              edit_admin_page_link_content_path(@about_us, @link),
              class: 'btn btn-sm btn-outline-info',
              remote: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>