<% content_for :title, "Oncase | Experts em Big Data, Analytics e Inteligência artificial" %>

<div class="contact pb-5">
  <div class="content container">
    <div class="title">
      CONTATO
    </div>

    <div class="description">
      Mande a sua mensagem para a Oncase, o nosso time responderá o mais rápido possível.
    </div>

    <div class="talk">
      <div class="row">
        <div class="col-md-4">
          <form action="https://formspree.io/contato@oncase.com.br" method="POST">
            <div class="form-group">
              <label for="nome">Como podemos chamar você?</label>
              <input type="text" name="nome" class="form-control" placeholder="Pode ser o seu primeiro nome...">
            </div>

            <div class="form-group">
              <label for="email">Seu email:</label>
              <input type="email" name="email" class="form-control" placeholder="seu@email.com">
            </div>

            <div class="form-group">
              <label for="mensagem">Escreva uma mensagem para a gente:</label>
              <textarea name="mensagem" class="form-control" placeholder="Sua mensagem..." rows="5"></textarea>
            </div>

            <button type="submit" class="btn btn-light-blue">Enviar <strong>Mensagem</strong></button>
          </form>
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-4">
          <div class="place">
            <div class="title">
              <strong>Recife</strong>
            </div>

            <div class="d-flex address align-items-start pt-3">
              <%= image_tag "icone-mapa@2x.png" %>
              <div class="pl-3">
                Rua do Bom Jesus, 163
                <br>
                2 andar - Recife-PE 
                <br>
                CEP 50.030-170 
              </div>
            </div>

            <div class="d-flex phone align-items-start pt-2">
              <%= image_tag "icone-telefone@2x.png" %>
              <div class="pl-3">
                Fone: +55-81-3077-8558
              </div>
            </div>
          </div>

          <div class="place pt-5">
            <div class="title">
              <strong>São Paulo</strong>
            </div>

            <div class="d-flex phone align-items-start pt-3">
              <%= image_tag "icone-telefone@2x.png" %>
              <div class="pl-3">
                Fone: +55-11-4118-3068
              </div>
            </div>
          </div>

          <div class="social">
            <div class="medias">
              <a href="https://www.facebook.com/oncasesolucoes/" target="_blank" class="link">
                <%= fa_icon 'facebook' %>
              </a>

              <a href="https://www.linkedin.com/company/oncase/" target="_blank" class="link">
                <%= fa_icon 'linkedin' %>
              </a>

              <a href="https://twitter.com/oncase" target="_blank" class="link">
                <%= fa_icon 'twitter' %>
              </a>

              <a href="https://www.youtube.com/channel/UC4sU9JSX8n7rD2tcBgJkjFQ" target="_blank" class="link">
                <%= fa_icon 'youtube-play' %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>