<div class="content-page">
  <div class="content container">
    <div class="title">CONTEÚDO</div>

    <div class="description">
      Nossos conteúdos já ajudaram centenas de empresas a atingirem seus objetivos através de uma melhor estratégia de dados. <strong>Nós queremos ajudar você também!</strong>
    </div>

    <div class="content-box">
      <div class="d-flex align-items-start">
        <div class="text pr-5">
          <div class="title">Blog</div>

          <div class="description">
            Conteúdos diários atualizado com boas práticas e novidades no mundo de Big Data, Analytics e Data Science.
          </div>

          <a href="http://blog.oncase.com.br/" target="_blank" class="btn btn-outline-light-blue mt-4">
            Conheça o nosso <strong>Blog</strong>
            <span>&nbsp;</span>
            <%= fa_icon 'chevron-right' %>
          </a>
        </div>

        <%= image_tag "blog@2x.png" %>
      </div>
    </div>

    <div class="content-box reverse">
      <div class="d-flex align-items-start">
        <%= image_tag "insights@2x.png", class: "pr-5" %>

        <div class="text pl-5">
          <div class="title">Oncase Insights</div>

          <div class="description">
            O Oncase Insights é uma central pesquisa e análise direta da nossa equipe. Reunimos dados de diversos lugares, tudo para explorar as complexidades relacionada a dados do cotidiano de tecnologia.
          </div>

          <a href="https://medium.com/oncase" target="_blank" class="btn btn-outline-orange mt-4">
            Conheça o <strong>Oncase Insights</strong>
            <span>&nbsp;</span>
            <%= fa_icon 'chevron-right' %>
          </a>
        </div>
      </div>
    </div>

    <div class="content-box reverse">
      <div class="d-flex align-items-start">
        <div class="text pr-5">
          <div class="title">Oncase TV</div>

          <div class="description">
            O maior canal brasileiro de BigData & Analytics! Toda semana um conteúdo novo falando sobre as principais novidades do mercado e dúvidas frequentes.
          </div>

          <div class="pt-4">
            <iframe width="400px" height="250px" src="https://www.youtube.com/embed/Dz0WH6yi7jA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>

          <a href="https://www.youtube.com/c/OncaseBr" target="_blank" class="btn btn-outline-red mt-4">
            Veja mais vídeos no nosso <strong>Canal</strong>
            <span>&nbsp;</span>
            <%= fa_icon 'chevron-right' %>
          </a>
        </div>

        <%= image_tag "tv@2x.png", height: "150px", class: "pl-5" %>
      </div>
    </div>
  </div>
</div>