<div class="content-page">
  <div class="content container">
    <div class="title">CONTEÚDO</div>

    <div class="description">
      Somos especialistas em Data analytics e somos especialistas em ajudar empresas a tomarem as melhores decisões atráves dos seus dados. Abaixo tem só um pouco do que mandamos muito bem!
    </div>

    <div class="content-box">
      <div class="d-flex align-items-start">
        <div class="text pr-5">
          <div class="title">Blog</div>

          <div class="description">
            Somos especialistas em Data analytics e somos especialistas em ajudar empresas a tomarem as melhores decisões atráves dos seus dados. Abaixo tem só um pouco do que mandamos muito bem!
          </div>

          <a href="#" class="btn btn-outline-light-blue mt-4">
            Conheça o nosso <strong>Blog</strong>
            <span>&nbsp;</span>
            <%= fa_icon 'chevron-right' %>
          </a>
        </div>

        <%= image_tag "blog@2x.png" %>
      </div>
    </div>

    <div class="content-box reverse">
      <div class="d-flex align-items-start">
        <%= image_tag "insights@2x.png", class: "pr-5" %>

        <div class="text pl-5">
          <div class="title">Oncase Insights</div>

          <div class="description">
            Somos especialistas em Data analytics e somos especialistas em ajudar empresas a tomarem as melhores decisões atráves dos seus dados. Abaixo tem só um pouco do que mandamos muito bem!
          </div>

          <a href="#" class="btn btn-outline-orange mt-4">
            Conheça o <strong>Oncase Insights</strong>
            <span>&nbsp;</span>
            <%= fa_icon 'chevron-right' %>
          </a>
        </div>
      </div>
    </div>

    <div class="content-box reverse">
      <div class="d-flex align-items-start">
        <div class="text pr-5">
          <div class="title">Oncase TV</div>

          <div class="description">
            Somos especialistas em Data analytics e somos especialistas em ajudar empresas a tomarem as melhores decisões atráves dos seus dados. Abaixo tem só um pouco do que mandamos muito bem!
          </div>

          <div class="pt-4">
            <iframe width="400px" height="250px" src="https://www.youtube.com/embed/Dz0WH6yi7jA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>

          <a href="#" class="btn btn-outline-red mt-4">
            Veja mais vídeos no nosso <strong>Canal</strong>
            <span>&nbsp;</span>
            <%= fa_icon 'chevron-right' %>
          </a>
        </div>

        <%= image_tag "tv@2x.png", height: "150px", class: "pl-5" %>
      </div>
    </div>
  </div>
</div>