<div class="home">
  <div class="slider">
    <% @banners.each do |banner| %>
      <div class="text-center">
        <%= link_to banner.link, target: "_blank" do %>
          <%= cl_image_tag banner.image.path %>
        <% end %>
      </div>
    <% end %>
  </div>
  
  <%= render 'static_pages/home/about_us' %>
  <%= render 'static_pages/home/experts' %>
  <%= render 'static_pages/home/clients' %>
  <%= render 'static_pages/home/campus' %>
</div>

<script>
  var slider = tns({
    container: '.slider',
    items: 1,
    slideBy: 'page',
    autoplay: true
  });
</script>