<div class="services-page">
  <div class="content container">
    <div class="title">
      SOMOS EXPERTS EM
      <br>
      DATA ANALYTICS
    </div>

    <div class="description">
      Com mais de 10 anos de mercado, já ajudamos várias organizações ao redor do mundo a transformar seus negócios através do melhor uso de big data, analytics e data science. 
      <br><br>
      Acreditamos na implementação de melhorias graduais e contínuas em forma de processos, sempre se adaptando aos novos desafios para gerar impacto real no negócio através da cultura analítica.
    </div>

    <div class="services">
      <div class="d-flex justify-content-end">
        <div class="service d-flex align-items-center flex-wrap">
          <%= image_tag 'big-data@2x.png' %>

          <div class="description-wrapper">
            <div class="title">Big Data</div>

            <div class="description">
              Integre, Limpe e Amplie seus dados em sistemas diferentes com agilidade e alta qualidade, consumindo-os virtualmente de qualquer fonte.
            </div>
          </div>
        </div>
      </div>

      <div class="service d-flex align-items-center pt-5 flex-wrap">
        <%= image_tag 'analytics@2x.png' %>

        <div class="description-wrapper">
          <div class="title">Analytics</div>

          <div class="description">
            Descubra padrões nos seus dados que facilitam o entendimento das suas informações e geram inteligência para a tomada de decisões.
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <div class="service d-flex align-items-center pt-5 flex-wrap">
          <%= image_tag 'data-science@2x.png' %>

          <div class="description-wrapper">
            <div class="title">Data Science</div>

            <div class="description">
              Experiência e capacidade de fazer análise de dados avançada, usando machine learning, processamento de linguagem natural, classificação, clustering e outras técnicas.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="solutions-wrapper">
      <div class="solution pt-5">
        <div class="title">
          Consultoria
        </div>

        <div class="d-flex justify-content-center pb-4">
          <%= image_tag 'consulting@2x.png', height: '250px' %>
          <div class="short-description">
            Para atender às suas demandas com precisão, a Oncase conta com serviços de consultoria personalizada para criar a sua estratégia de dados. Tendo em vista a governança, a transferência de dados, volumetria, tamanho de ambiente e outros desafios, nossos experts são capazes de desenhar arquitetura de soluções inteligentes que auxiliem a sua empresa a ser direcionada e conduzida por meio de dados.
          </div>
        </div>

        <div class="row points">
          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>1. Arquitetura e Soluções</strong>
              </div>
              
              <div class="description">
                De ponta a ponta. Estamos prontos para auxiliá-lo desde a extração e processamento em fontes BigData, até exploração on-demand em bancos analíticos e também na mineração do conhecimento.
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>2. Análise Exploratória de Dados</strong>
              </div>
              
              <div class="description">
                Por meio da Análise Exploratória, é possível entender informações que ferramentas tradicionais não mostram, detectando anomalias, fraudes e até mesmo pontos de interesse para novas análises e decisões.
              </div>
            </div>
          </div>
        </div>

        <div class="actions text-center">
          <strong>
            Se quiser saber mais sobre nossa consultoria.
          </strong>

          <br>

          <a href="#" class="btn btn-light-blue">
            Fale com a gente
            <span>&nbsp;</span>
            <%= fa_icon "phone" %>
          </a>
        </div>
      </div>

      <div class="solution pt-5 mt-5">
        <div class="title">
          Treinamentos
        </div>

        <div class="d-flex justify-content-center pb-4">
          <%= image_tag 'training@2x.png', height: '200px' %>
          <div class="short-description">
            Possuímos treinamentos tanto no formato Presencial In Company quanto a Distância online. Temos como objetivo capacitar e aperfeiçoar os conhecimentos relacionados a dados dos nossos participantes, atendendo às necessidades específicas das corporações.
          </div>
        </div>

        <div class="row points">
          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>1. In Company</strong>
              </div>
              
              <div class="description">
                Se você deseja montar internamente uma linha de produção de Business Intelligence,Analytics ou Big Data, nós podemos capacitar a sua equipe. É praxe da Oncase também, sugerir essa passagem de conhecimento ao final de todo projeto de consultoria que fazemos.
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>2. Online</strong>
              </div>
              
              <div class="description">
                Através do Oncase Campus, difundimos conhecimento e estamos em contato direto com os alunos. É uma ótima maneira de oferecermos um pouco da nossa experiência adquirida no dia-a-dia em projetos de Business Intelligence, Analytics e Big Data.
              </div>
            </div>
          </div>
        </div>

        <div class="row points">
          <div class="col-md-8">
            <div class="title">
              <strong>3. Oficiais Pentaho</strong>
            </div>

            <div class="description">
              Como parceiros Pentaho, somos também Authorised Training Providers. Isso significa que o treinamento que ministramos tem conteúdo e certificado produzidos pela própria Pentaho e o curso é ministrado por profissionais certificados.
            </div>
          </div>
        </div>

        <div class="actions text-center">
          <strong>
            Se quiser saber mais sobre nossos treinamentos.
          </strong>

          <br>

          <a href="#" class="btn btn-light-blue">
            Fale com o nosso time de treinamentos
            <span>&nbsp;</span>
            <%= fa_icon "phone" %>
          </a>
        </div>
      </div>

      <div class="solution pt-5 mt-5">
        <div class="title">
          Suporte
        </div>

        <div class="d-flex justify-content-center pb-4">
          <%= image_tag 'suporte@2x.png', height: '200px' %>
          <div class="short-description">
            Oferecemos o SLA que lhe deixará tranquilo. Todo nosso gerenciamento e comunicação de suporte se dão através da plataforma Zendesk, no endereço <a href="http:://oncase.zendesk.com" target="_blank">oncase.zendesk.com</a>. Fale conosco e contrate já o suporte que se adeque ao seu bolso e às necessidades da sua equipe.
          </div>
        </div>

        <div class="row points">
          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>1. Desenvolvimento</strong>
              </div>
              
              <div class="description">
                Somos apaixonados em passar o conhecimento que temos, acreditamos que quanto mais profissionais dominem o conhecimento, melhor será o ecossistema de Analytics com Pentaho. Se você tem uma equipe e projetos de Business Analytics, ficaremos felizes em auxiliá-los no que formos capazes.
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>2. Mentoring</strong>
              </div>
              
              <div class="description">
                Nós da Oncase oferecemos o acompanhamento que sua equipe precisa para dominar toda a cadeia de produção de projetos de Analytics. Desde integração de dados até Mineração de dados e Otimizações.
              </div>
            </div>
          </div>
        </div>

        <div class="row points">
          <div class="col-md-8">
            <div class="title">
              <strong>3. Oficiais Pentaho</strong>
            </div>

            <div class="description">
              Como parceiros Pentaho, seguimos todo o SLA de gerenciamento e comunicação de suporte oficial da Pentaho. Onde atendemos tanto a versão Community, quanto a versão Enterprise.
            </div>
          </div>
        </div>

        <div class="actions text-center">
          <strong>
            Se você precisa do nosso suporte ou quer saber mais.
          </strong>

          <br>

          <a href="#" class="btn btn-light-blue">
            Fale com o nosso atendimento
            <span>&nbsp;</span>
            <%= fa_icon "phone" %>
          </a>
        </div>
      </div>
    </div>

  </div>
  
  <%= image_tag 'bg-tech@2x.png', width: '100%' %>

  <div class="technologies">
    <div class="content container">
      <div class="title">TECNOLOGIAS QUE USAMOS</div>

      <div class="description">
        Nós acreditamos e usamos a tecnologia como um meio para alcançar um proposito, e o nosso próposito em cada um desses serviços é atender a sua necessidade.
      </div>
    </div>
  </div>
</div>