<div class="services-page">
  <div class="content container">
    <div class="title">
      SOMOS EXPERTS EM
      <br>
      DATA ANALYTICS
    </div>

    <div class="description">
      Somos especialistas em Data analytics e somos especialistas em ajudar empresas a tomarem as melhores decisões atráves dos seus dados. Abaixo tem só um pouco do que mandamos muito bem!
    </div>

    <div class="services">
      <div class="d-flex justify-content-end">
        <div class="service d-flex align-items-center flex-wrap">
          <%= image_tag 'big-data@2x.png', class: 'image' %>

          <div class="description-wrapper">
            <div class="title">Big Data</div>

            <div class="description">
              Integre, Limpe e Amplie seus dados, consumindo-os de virtualmente qualquer fonte.
            </div>
          </div>
        </div>
      </div>

      <div class="service d-flex align-items-center pt-5 flex-wrap">
        <%= image_tag 'analytics@2x.png', class: 'image' %>

        <div class="description-wrapper">
          <div class="title">Analytics</div>

          <div class="description">
            Explore, receba alertas e visualize suas informações sob qualquer demanda ou profundidade
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <div class="service d-flex align-items-center pt-5 flex-wrap">
          <%= image_tag 'data-science@2x.png', class: 'image' %>

          <div class="description-wrapper">
            <div class="title">Data Science</div>

            <div class="description">
              Explore, receba alertas e visualize suas informações sob qualquer demanda ou profundidade
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="solutions-wrapper">
      <div class="solution pt-5">
        <div class="title">
          Consulting in company
        </div>

        <div class="d-flex justify-content-center pb-4 flex-wrap">
          <%= image_tag 'consulting@2x.png', width: 'auto', height: '250px' %>
          <div class="short-description">
            Na Oncase, somos ávidos por novas tecnologias e por isso, estamos sempre em contato com tudo o que há de mais novo em termos de bancos de dados especialistas,plataformas de processamento de dados em massa, padrões de projeto real-time, componentes de visualização de dados, algorítmos e bibliotecas de Data Mining.
          </div>
        </div>

        <div class="row points">
          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>1. Arquitetura Analytics</strong>
              </div>
              
              <div class="description">
                De ponta a ponta. Estamos prontos para auxiliá-lo desde a extração e processamento em fontes BigData, até exploração on-demand em bancos analíticos e também na mineração do conhecimento
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>2. Cloud Computing</strong>
              </div>
              
              <div class="description">
                Sua infra não suporta mais os seus projetos? Nossa equipe tem o expertise certo para auxiliá-lo na migração dos seus artefatos. Faça conosco a avaliação dos custos e características de um projeto na nuvem.
              </div>
            </div>
          </div>
        </div>

        <div class="actions text-center">
          <strong>
            Se quiser saber mais sobre nossa consultoria.
          </strong>

          <br>

          <a href="#" class="btn btn-light-blue">
            Fale com a gente
            <span>&nbsp;</span>
            <%= fa_icon "phone" %>
          </a>
        </div>
      </div>

      <div class="solution pt-5 mt-5">
        <div class="title">
          Training lab
        </div>

        <div class="d-flex justify-content-center pb-4 flex-wrap">
          <%= image_tag 'training@2x.png', width: 'auto', height: '200px' %>
          <div class="short-description">
            Na Oncase, somos ávidos por novas tecnologias e por isso, estamos sempre em contato com tudo o que há de mais novo em termos de bancos de dados especialistas.
          </div>
        </div>

        <div class="row points">
          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>1. Certificação</strong>
              </div>
              
              <div class="description">
                Possuímos também treinamento e orientação voltados aos profissionais que desejam percorrer o caminho da Certificação Pentaho. Constituída de duas provas - Platform e ETL -, o conteúdo requer além de conhecimentos gerais, experiência.
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>2. In-company</strong>
              </div>
              
              <div class="description">
                Se você deseja montar internamente uma linha de produção de BI com Pentaho, nós podemos capacitar a sua equipe. É praxe da Oncase também, sugerir essa passagem de conhecimento ao final de todo projeto de consultoria que fazemos.
              </div>
            </div>
          </div>
        </div>

        <div class="row points">
          <div class="col-md-8">
            <div class="title">
              <strong>3. Oficiais Pentaho</strong>
            </div>

            <div class="description">
              Como parceiros Pentaho, somos também Authorised Training Providers. Isso significa que o treinamento que ministramos tem conteúdo e certificado produzidos pela própria Pentaho e o curso é ministrado por profissionais certificados.
            </div>
          </div>
        </div>

        <div class="actions text-center">
          <strong>
            Se quiser saber mais sobre nossos treinamentos.
          </strong>

          <br>

          <a href="#" class="btn btn-light-blue">
            Fale com o nosso time de treinamentos
            <span>&nbsp;</span>
            <%= fa_icon "phone" %>
          </a>
        </div>
      </div>

      <div class="solution pt-5 mt-5">
        <div class="title">
          Suporte
        </div>

        <div class="d-flex justify-content-center pb-4 flex-wrap">
          <%= image_tag 'suporte@2x.png', width: 'auto', height: '200px' %>
          <div class="short-description">
            Oferecemos o SLA que lhe deixará tranquilo. Todo nosso gerenciamento e comunicação de suporte se dão através da plataforma Zendesk, no endereço <a href="http:://oncase.zendesk.com" target="_blank">oncase.zendesk.com</a>. Fale conosco e contrate já o suporte que se adeque ao seu bolso e às necessidades da sua equipe.
          </div>
        </div>

        <div class="row points">
          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>1. Oficial Pentaho</strong>
              </div>
              
              <div class="description">
                Trabalhar com Pentaho é muito bom, você consegue produzir valor já com a versão Community. Entretanto, à medida em que a importância do seu projeto cresce, eleva-se também a responsabilidade sobre cada implementação. Além de outras inúmeras vantagens, a versão Enterprise oferece suporte oficial no Brasil através da Oncase e de outros parceiros.
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>2. Mentoring</strong>
              </div>
              
              <div class="description">
                É comum, empresas que contratam projetos de Business Analytics, quererem dominar as ferramentas e os conceitos ali por trás implementados. Nós da Oncase oferecemos o acompanhamento que sua equipe precisa para dominar toda a cadeia de produção de projetos de Analytics. Desde integração de dados até Mineração de dados e Otimizações.
              </div>
            </div>
          </div>
        </div>

        <div class="actions text-center">
          <strong>
            Se você precisa do nosso suporte ou quer saber mais.
          </strong>

          <br>

          <a href="#" class="btn btn-light-blue">
            Fale com o nosso atendimento
            <span>&nbsp;</span>
            <%= fa_icon "phone" %>
          </a>
        </div>
      </div>
    </div>

  </div>
  
  <%= image_tag 'bg-tech@2x.png', width: '100%' %>

  <div class="technologies">
    <div class="content container">
      <div class="title">TECNOLOGIAS QUE USAMOS</div>

      <div class="description">
        Nós acreditamos e usamos a tecnologia como um meio para alcançar um proposito, e o nosso próposito em cada um desses serviços é atender a sua necessidade.
      </div>
    </div>
  </div>
</div>