<div class="solutions">
  <div class="content container">
    <div class="title">
      NOSSAS SOLUÇÕES
    </div>

    <div class="description">
      A Oncase é uma empresa de tecnologia com mais de 10 anos de mercado, focada em empoderar pessoas e organizações na transformação digital com uma abordagem orientada a dados.
    </div>

    <div class="solutions-wrapper">
      <div class="solution pt-5 cassius">
        <div class="title">
          Marketing de conteúdo
        </div>

        <%= image_tag 'cassius-logo@2x.png' %>

        <div class="short-description">
          Planeje conteúdo relevante e direcionado para seu público
        </div>

        <div class="row points">
          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>1. Estratégia ideal</strong>
              </div>
              
              <div class="description">
                Cassius é uma plataforma de inteligência que auxilia empresas a encontrar os temas ideais para uma produção de conteúdo relevante.
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>2. Monitoramento real</strong>
              </div>
              
              <div class="description">
                Tenha um ambiente exclusivo para gerenciamento do conteúdo publicado e direcione o conteúdo correto para sua audiência.
              </div>
            </div>
          </div>
        </div>

        <div class="row points">
          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>3. Entendimento & insights</strong>
              </div>
              
              <div class="description">
                Receba sugestões e insights para melhorar antigos e novos conteúdo.
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>4. Comportamento</strong>
              </div>
              
              <div class="description">
                Saiba quais são os temas mais pertinentes para sua audiência.
              </div>
            </div>
          </div>
        </div>

        <div class="actions text-center">
          <a href="#" class="btn btn-outline-green">
            Veja mais sobre o <strong>Cassius</strong>
            <span>&nbsp;</span>
            <%= fa_icon "chevron-right" %>
          </a>
        </div>
      </div>

      <div class="solution scora pt-5 mt-5">
        <div class="title">
          Seguros e gerenciamentos de riscos
        </div>

        <%= image_tag 'scora-logo@2x.png' %>

        <div class="short-description">
          Gerenciamento de fraudes simplificado
        </div>

        <div class="row points">
          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>1. Otimização operacional</strong>
              </div>
              
              <div class="description">
                - Aumento de throughput de análises.
                <br>
                - Redução de falsos positivos com aumento da qualidade.
                <br>
                - Identificação de suspeitas de fraudes antes dos pagamentos.
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>2. Integração</strong>
              </div>
              
              <div class="description">
                - Gatilhos de automação para ERPs, CRM, APIs e outros.
                <br>
                - Incorporação de dados de fontes internas e externas.
                <br>
                - Utilização de dados não estruturados.
              </div>
            </div>
          </div>
        </div>

        <div class="row points">
          <div class="col-md-6">
            <div class="title">
              <strong>3. Visão 360</strong>
            </div>
            
            <div class="description">
              - Visualização de dados completos de clientes, sinistros e terceiros.
              <br>
              - Workflow de sindicância.
            </div>
          </div>
        </div>

        <div class="actions text-center">
          <a href="#" class="btn btn-outline-light-blue">
            Veja mais sobre o <strong>Scora</strong>
            <span>&nbsp;</span>
            <%= fa_icon "chevron-right" %>
          </a>
        </div>
      </div>

      <div class="solution pgv pt-5 mt-5">
        <div class="title">
          Sales productvity e retail
        </div>

        <%= image_tag 'pgv-logo@2x.png', width: 'auto', height: '75px' %>

        <div class="short-description">
          Solução de produtividade comercial, efetividade de rota e controle de estoque trazendo inteligência para sua força de vendas
        </div>

        <div class="row points">
          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>1. Gerenciamento de cotas</strong>
              </div>
              
              <div class="description">
                Aumento de throughput de análises. Redução de falsos positivos com aumento da qualidade. Identificação de suspeitas de fraudes antes dos pagamentos.
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>2. Gerenciamento de mix</strong>
              </div>
              
              <div class="description">
                Gatilhos de automação para ERPs, CRM, APIs e outros. Incorporação de dados de fontes internas e externas. Utilização de dados não estruturados.
              </div>
            </div>
          </div>
        </div>

        <div class="row points">
          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>3.Escassez de inventário (ruptura)</strong>
              </div>
              
              <div class="description">
                Visualização de dados completos de clientes, sinistros e terceiros. Workflow de sindicância.
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="point">
              <div class="title">
                <strong>4. Eficácia de Rota</strong>
              </div>
              
              <div class="description">
                Visualização de dados completos de clientes, sinistros e terceiros. Workflow de sindicância.
              </div>
            </div>
          </div>
        </div>

        <div class="actions text-center">
          <a href="#" class="btn btn-outline-orange">
            Veja mais sobre o <strong>PGV</strong>
            <span>&nbsp;</span>
            <%= fa_icon "chevron-right" %>
          </a>
        </div>
      </div>
    </div>
  </div>

  <%= image_tag 'bg-tech@2x.png', width: '100%' %>

  <div class="tech-products">
    <div class="content container">
      <div class="title">PRODUTOS TÉCNICOS</div>

      <div class="description">
        Solução de produtividade comercial, efetividade de rota e controle de estoque trazendo inteligência para sua força de vendas.
      </div>

      <div class="row products">
        <div class="col-md-4 product text-center">
          <%= image_tag 'oktopus@2x.png', height: '100px' %>

          <div class="title">
            Oktopus
          </div>

          <div class="description">
            Governança par amúltiplos dasboards e fontes de dados analíticas com segurança dinâmica de cubos OLAP.
          </div>
        </div>
        
        <div class="col-md-4 product text-center">
          <%= image_tag 'tarantula@2x.png', height: '100px' %>

          <div class="title">
            Tarantulla
          </div>

          <div class="description mb-3">
            Agregar dados de diversas fontes web (crawler), de redes sociais de modo organizado e categorizado por contexto.
          </div>

          <a href="#" class="link">
            CÓDIGO DISPONÍVEL
            <span>&nbsp;</span>
            <%= fa_icon "github" %>
          </a>
        </div>

        <div class="col-md-4 product text-center">
          <%= image_tag 'krab@2x.png', height: '100px' %>

          <div class="title">
            Krab
          </div>

          <div class="description">
            Dados e análise de dados georreferenciados com possibilidade de implementação on premises.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>