<section class="about-us">
  <%= image_tag "bg-about-us-top@2x.png", class: "bg-top" %>

  <div class="content">
    <div class="container d-flex align-items-center">
      <%= image_tag "time.png", class: "team" %>

      <div class="description-wrapper">
        <div class="title">
          SOBRE NÓS
        </div>

        <div class="description">
          Ajudamos várias organizações ao redor do mundo a transformar seus negócios através do melhor uso de big data, analytics e data science. Implementando as melhores práticas analíticas, identificando oportunidades de inovação, passando pelo desenvolvimento de times e fornecedores, e o suporte completo ao processo relacionado à dados.
        </div>

        <div class="actions d-flex justify-content-between flex-wrap">
          <div>
            <a href="#" class="btn btn-outline-white">
              Saiba mais
              <span>&nbsp;</span>
              <%= fa_icon 'chevron-right' %>
            </a>
          </div>

          <div class="social">
            <div class="title">REDES SOCIAIS</div>

            <div class="medias">
              <a href="#" class="link">
                <%= fa_icon 'facebook' %>
              </a>

              <a href="#" class="link">
                <%= fa_icon 'twitter' %>
              </a>

              <a href="#" class="link">
                <%= fa_icon 'linkedin' %>
              </a>

              <a href="#" class="link">
                <%= fa_icon 'medium' %>
              </a>

              <a href="#" class="link">
                <%= fa_icon 'github' %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= image_tag "bg-about-us-bottom@2x.png", class: "bg-bottom" %>
</section>