<div class="clients">
  <div class="content text-center">
    <span>
      Empresas que já tomaram decisões inteligentes usando os nosso produtos e serviços.
    </span>

    <div class="logos d-flex justify-content-center align-items-center flex-wrap">
      <%= image_tag 'nzn-logo@2x.png', width: 'auto', height: '40px', class: 'pr-5' %>
      <%= image_tag 'delphos-logo@2x.png', width: 'auto', height: '40px', class: 'pr-5' %>
      <%= image_tag 'nagem-logo@2x.png', width: 'auto', height: '40px', class: 'pr-5' %>
      <%= image_tag 'coteminas-logo@2x.png', width: 'auto', height: '80px', class: 'pr-5' %>
      <%= image_tag 'unilever-logo@2x.png', width: 'auto', height: '80px', class: 'pr-5' %>
      <%= image_tag 'caixa-logo@2x.png', width: 'auto', height: '35px' %>
    </div>
  </div>
</div>