<div class="experts">
  <%= image_tag 'circle-1.svg', class: 'circle-1' %>
  <%= image_tag 'circle-2.svg', class: 'circle-2' %>
  
  <div class="content container">
    <div class="title">SOMOS EXPERTS</div>

    <div class="description">
      Somos especialistas em Data analytics e somos especialistas em ajudar empresas a tomarem as melhores decisões atráves dos seus dados. Abaixo tem só um pouco do que mandamos muito bem! Veja mais do que fazemos.
    </div>

    <div class="services">
      <div class="d-flex justify-content-end">
        <div class="service d-flex align-items-center flex-wrap">
          <%= image_tag 'big-data@2x.png', class: 'image' %>

          <div class="description-wrapper">
            <div class="title">Big Data</div>

            <div class="description">
              Integre, Limpe e Amplie seus dados, consumindo-os de virtualmente qualquer fonte.
            </div>
          </div>
        </div>
      </div>

      <div class="service d-flex align-items-center pt-5 flex-wrap">
        <%= image_tag 'analytics@2x.png', class: 'image' %>

        <div class="description-wrapper">
          <div class="title">Analytics</div>

          <div class="description">
            Descubra padrões nos seus dados que facilitam o entendimento das suas informações e geram inteligência para a tomada de decisões.
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <div class="service d-flex align-items-center pt-5 flex-wrap">
          <%= image_tag 'data-science@2x.png', class: 'image' %>

          <div class="description-wrapper">
            <div class="title">Data Science</div>

            <div class="description">
              Experiência e capacidade de fazer análise de dados avançada, usando machine learning, processamento de linguagem natural, classificação, clustering e outras técnicas.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="actions text-center">
      <a href="/servicos" class="btn btn-orange">
        Conheça mais do que fazemos
        <span>&nbsp;</span>
        <%= fa_icon 'chevron-right' %>
      </a>
    </div>
  </div>
</div>