<!--<div class="feed text-center <%= 'bg-grey' if action_name == 'solutions' or action_name == 'services' or action_name == 'about_us' or action_name == 'contact' %> ">
  <strong>Receba conteúdo em primeira mão ;)</strong>

  <form action="">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <input type="email" name="email" placeholder="Digite aqui o seu email" class="form-control">

        </div>
      </div>
    </div>
  </form>
</div> -->

<% if action_name == 'solutions' or action_name == 'services' or action_name == 'about_us' or action_name == 'contact' %>
  <%= image_tag "bg-footer-alt@2x.png", width: "101%", style: "margin-left: -2px" %>  
<% else %>
  <%= image_tag "bg-footer@2x.png", width: "101%", style: "margin-left: -2px", class: "mt-4" %>  
<% end %>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= link_to root_path do %>
          <%= image_tag "logo-secondary.png", height: "50px" %>
        <% end %>
        
        <div class="city-info pt-2">
          <p class="city mb-0">Recife</p>

          <p class="address">
            Rua do Bom Jesus, 163
            <br>
            2º andar
            <br>
            Recife-PE CEP 50.030-170
            <br>
            Fone: +55-81-3077-8558
          </p>
        </div>

        <div class="city-info">
          <p class="city mb-0">São Paulo</p>

          <p class="address">
            Fone: +55-11-4085-0606
          </p>
        </div>
      </div>

      <div class="col-md-2 pt-3 pl-5">
        <ul class="list">
          <p class="title">SOBRE NÓS</p>

          <li class="list-item">
            <a href="/">OnCase</a>
          </li>

          <li class="list-item">
            <a href="/sobre-nos">Nosso time</a>
          </li>

          <li class="list-item">
            <a href="/pentaho">Pentaho</a>
          </li>

          <li class="list-item">
            <a href="https://nite-ceuma.typeform.com/to/pDWRFO">Trabalhe conosco</a>
          </li>
        </ul>
      </div>

      <div class="col-md-2 pt-3">
        <ul class="list">
          <p class="title">SOLUÇÕES</p>

          <li class="list-item">
            <a href="/produtos">Marketing de conteúdo</a>
          </li>

          <li class="list-item">
            <a href="/produtos">Seguros e riscos</a>
          </li>

          <li class="list-item">
            <a href="/produtos">Retail</a>
          </li>

          <li class="list-item">
            <a href="/produtos">Produtos técnicos</a>
          </li>
        </ul>
      </div>

      <div class="col-md-2 pt-3">
        <ul class="list">
          <p class="title">O QUE FAZEMOS</p>

          <li class="list-item">
            <a href="/servicos#consultoria">Consultorias</a>
          </li>

          <li class="list-item">
            <a href="/servicos#suporte">Suporte</a>
          </li>

          <li class="list-item">
            <a href="https://treinamentos.oncase.com.br/">Treinamentos</a>
          </li>

          <li class="list-item">
            <a href="/servicos#tecnologias">Tecnologias que usamos</a>
          </li>
        </ul>
      </div>

      <div class="col-md-2 pt-3 pl-5">
        <ul class="list">
          <p class="title">CONTEÚDOS</p>

          <li class="list-item">
            <a href="http://blog.oncase.com.br/">Blog</a>
          </li>

          <li class="list-item">
            <a href="https://medium.com/oncase">Oncase Insights</a>
          </li>

          <li class="list-item">
            <a href="https://www.youtube.com/c/OncaseBr">Oncase TV</a>
          </li>
        </ul>
      </div>

      <div class="col-md-2 pt-3">
        <ul class="list">
          <p class="title">CONTATO</p>

          <li class="list-item">
            <a href="contato">Fale conosco</a>
          </li>

          <li class="list-item">
            <a href="https://nite-ceuma.typeform.com/to/pDWRFO">Trabalhe conosco</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>