<% if ['oncase_labs'].include? action_name %>
  <%= image_tag "bg-footer-alt@2x.png", width: "101%", style: "margin-left: -2px" %>  
<% else %>
  <%= image_tag "bg-footer@2x.png", width: "101%", style: "margin-left: -2px", class: "mt-5" %>  
<% end %>

<footer>
  <% unless action_name == 'home' %>
    <div class="container">
      <div class="row pt-4 pb-5">
        <div class="col-md-2 pt-3">
          <ul class="list">
            <%= image_tag 'logo-secondary.png', height: '50px', style: 'margin-top: -.5em' %>

            <li class="list-item">
              <a href="/sobre-nos">Sobre nós</a>
            </li>

            <li class="list-item">
              <a href="/sobre-nos#our-history">Nossa história</a>
            </li>

            <li class="list-item">
              <a href="/sobre-nos#our-team">Nosso time</a>
            </li>
          </ul>
        </div>

        <div class="col-md-2 pt-3">
          <ul class="list">
            <p class="title"><strong>PRODUTOS</strong></p>

            <li class="list-item">
              <a href="/produtos" target="_blank">Produtos</a>
            </li>

            <li class="list-item">
              <a href="https://toolkit.onca.se/" target="_blank">Toolkit</a>
            </li>
            
            <li class="list-item">
              <a href="http://treinamentos.oncase.com.br/" target="_blank">Treinamentos</a>
            </li>
          </ul>
        </div>

        <div class="col-md-2 pt-3">
          <ul class="list">
            <p class="title"><strong>SOLUÇÕES</strong></p>

            <li class="list-item">
              <%= link_to 'Big Data', big_data_path %>
            </li>

            <li class="list-item">
              <%= link_to 'Business Intelligence & Analytics', bi_analytics_path %>
            </li>

            <li class="list-item">
              <%= link_to 'Oncase Labs', oncase_labs_path %>
            </li>
          </ul>
        </div>

        <div class="col-md-2 pt-3">
          <ul class="list">
            <p class="title"><strong>TECNOLOGIAS</strong></p>

            <li class="list-item">
              <%= link_to 'Cloudera', cloudera_path %>
            </li>

            <li class="list-item">
              <%= link_to 'MongoDB', mongodb_path %>
            </li>

            <li class="list-item">
              <%= link_to 'Pentaho', mongodb_path %>
            </li>
          </ul>
        </div>

        <div class="col-md-2 pt-3">
          <ul class="list">
            <p class="title"><strong>CONTEÚDOS</strong></p>

            <li class="list-item">
              <a href="/">Blog</a>
            </li>

            <li class="list-item">
              <a href="/">Oncase Insights</a>
            </li>

            <li class="list-item">
              <a href="/">Oncase TV</a>
            </li>
          </ul>
        </div>

        <div class="col-md-2">
          <div class="social">
            <div class="medias">
              <a href="https://www.facebook.com/oncasesolucoes/" target="_blank" class="link">
                <%= fa_icon 'facebook' %>
              </a>

              <a href="https://www.linkedin.com/company/oncase/" target="_blank" class="link">
                <%= fa_icon 'linkedin' %>
              </a>

              <a href="https://twitter.com/oncase" target="_blank" class="link">
                <%= fa_icon 'twitter' %>
              </a>

              <a href="https://www.youtube.com/channel/UC4sU9JSX8n7rD2tcBgJkjFQ" target="_blank" class="link">
                <%= fa_icon 'youtube-play' %>
              </a>
            </div>
          </div>
          
          <hr class="divider">

          <div class="newsletter">
            <div class="title">Receba conteúdo em primeira mão</div>

            <form action="/subscribers" data-remote="true" method="POST" class="pt-2">
              <input type="email" name="subscriber[email]" id="email">
              <input type="submit" value="CADASTRAR" class="btn btn-orange mt-2">
            </form>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="container d-flex footer-home pt-4 pb-4">
      <p class="copyright m-0">
        © 2018 Oncase Tecnologia da Informação S.A. - Todos os direitos reservados.
      </p>

      <div class="social ml-auto">
        <div class="medias pt-0">
          <a href="https://www.facebook.com/oncasesolucoes/" target="_blank" class="link">
            <%= fa_icon 'facebook' %>
          </a>

          <a href="https://www.linkedin.com/company/oncase/" target="_blank" class="link">
            <%= fa_icon 'linkedin' %>
          </a>

          <a href="https://twitter.com/oncase" target="_blank" class="link">
            <%= fa_icon 'twitter' %>
          </a>

          <a href="https://www.youtube.com/channel/UC4sU9JSX8n7rD2tcBgJkjFQ" target="_blank" class="link">
            <%= fa_icon 'youtube-play' %>
          </a>
        </div>
      </div>
    </div>
  <% end %>
</footer>

 